<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564635862020-ec45fr060n5cl18htt31cm6bchs1u0oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564635862020-ec45fr060n5cl18htt31cm6bchs1u0oh</string>
	<key>API_KEY</key>
	<string>AIzaSyDzLHvbnKKkwt4Oiqnqpn29o0PdYAYi_4s</string>
	<key>GCM_SENDER_ID</key>
	<string>564635862020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-a9233</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-a9233.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564635862020:ios:203589855db3404488e151</string>
</dict>
</plist>